<a href="https://colab.research.google.com/github/shyamjith94/data-science-tips/blob/encoding/Binnary_Encoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("bigmart.csv")

In [3]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [5]:
data["Item_Type"].value_counts()

Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64

In [8]:
! pip install category_encoders

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting category_encoders
  Downloading category_encoders-2.5.0-py2.py3-none-any.whl (69 kB)
     |████████████████████████████████| 69 kB 6.2 MB/s
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.5.2)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.21.6)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.0.2)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.3.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.7.3)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.5->category_encoders) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.1.0)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.5.0

In [10]:
from category_encoders import BinaryEncoder

In [11]:
be = BinaryEncoder()

In [13]:
x = be.fit_transform(data["Item_Type"])

In [14]:
x

      Item_Type_0  Item_Type_1  Item_Type_2  Item_Type_3  Item_Type_4
0               0            0            0            0            1
1               0            0            0            1            0
2               0            0            0            1            1
3               0            0            1            0            0
4               0            0            1            0            1
...           ...          ...          ...          ...          ...
8518            0            0            1            1            1
8519            0            0            1            1            0
8520            0            1            0            1            0
8521            0            0            1            1            1
8522            0            0            0            1            0

[8523 rows x 5 columns]

In [15]:
data = pd.concat([data, x], axis=1)

In [16]:
data

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Item_Type_0,Item_Type_1,Item_Type_2,Item_Type_3,Item_Type_4
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380,0,0,0,0,1
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228,0,0,0,1,0
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700,0,0,0,1,1
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800,0,0,1,0,0
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834,0,0,1,1,1
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850,0,0,1,1,0
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136,0,1,0,1,0
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976,0,0,1,1,1
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700,0,0,0,1,0

# Base N encoding

In [17]:
data = pd.read_csv("fifa.csv")

In [18]:
data

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
3,3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/193080.png,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
4,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/192985.png,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2084,2084,192009,J. Rodríguez,25,https://cdn.sofifa.org/players/4/19/192009.png,Mexico,https://cdn.sofifa.org/flags/83.png,74,77,Lobos BUAP,...,50.0,16.0,11.0,12.0,77.0,71.0,66.0,75.0,73.0,NaN
2085,2085,154634,M. Pasqual,36,https://cdn.sofifa.org/players/4/19/154634.png,Italy,https://cdn.sofifa.org/flags/27.png,74,74,Empoli,...,78.0,70.0,73.0,72.0,6.0,5.0,7.0,12.0,7.0,€1.2M
2086,2086,233738,Zubeldia,21,https://cdn.sofifa.org/players/4/19/233738.png,Spain,https://cdn.sofifa.org/flags/45.png,74,81,Real Sociedad,...,64.0,65.0,75.0,59.0,6.0,8.0,9.0,10.0,13.0,€18.4M
2087,2087,189707,Da Costa,34,https://cdn.sofifa.org/players/4/19/189707.png,Brazil,https://cdn.sofifa.org/flags/54.png,74,74,Bologna,...,55.0,16.0,19.0,18.0,75.0,72.0,64.0,75.0,75.0,€3.9M
2088,2088,176652,D. Kolář,32,https://cdn.sofifa.org/players/4/19/176652.png,Czech Republic,https://cdn.sofifa.org/flags/12.png,74,74,Viktoria Plzeň,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
name_fifa =  be.fit_transform(data["Name"])

In [21]:
# encoding name colum in fifa data set
name_fifa

,Name_0,Name_1,Name_2,Name_3,Name_4,Name_5,Name_6,Name_7,Name_8,Name_9,Name_10,Name_11
0,0,0,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,1,1
3,0,0,0,0,0,0,0,0,0,1,0,0
4,0,0,0,0,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
2084,0,0,0,0,0,0,0,1,1,1,0,1
2085,1,0,0,0,0,0,0,0,0,1,0,0
2086,1,0,0,0,0,0,0,0,0,1,0,1
2087,1,0,0,0,0,0,0,0,0,1,1,0
2088,1,0,0,0,0,0,0,0,0,1,1,1

In [22]:
# using base N encoding for name column
import category_encoders as ce

In [24]:
name_en = ce.BaseNEncoder(data["Name"], base=4)
name_en = name_en.fit_transform(data[["Name"]])

In [25]:
name_en

      Name_0  Name_1  Name_2  Name_3  Name_4  Name_5
0          0       0       0       0       0       1
1          0       0       0       0       0       2
2          0       0       0       0       0       3
3          0       0       0       0       1       0
4          0       0       0       0       1       1
...      ...     ...     ...     ...     ...     ...
2084       0       0       0       1       3       1
2085       2       0       0       0       1       0
2086       2       0       0       0       1       1
2087       2       0       0       0       1       2
2088       2       0       0       0       1       3

[2089 rows x 6 columns]